{% extends 'store/main.html' %} {% load static %} {% block content %}
<div class="row">
      {% for book in books %}
    <div class="col-lg-4">
        <div class="box-element">
            <img class="thumbnail" src="{{book.imageURL}}" />
        </div>
        
        <div class="box-element product">
            <h5><strong>{{book.title}}</strong></h5>
            <p>{{book.author}}</p>
            <hr />
            <button class="btn btn-outline-secondary add-btn">Add to Cart</button>
            <a class="btn btn-outline-success" href="#">View</a>
            <h4 style="display: inline-block; float: right">
                <strong>£{{book.price|floatformat:2}}</strong>
            </h4>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}
